In [1]:
# Merging DataFrames with Pandas

## Preparing Data

In [2]:
# Tools for Pandas data import

pd.read_csv() for CSV files
● dataframe = pd.read_csv(filepath)
● dozens of optional input parameters
● Other data import tools:
● pd.read_excel()
● pd.read_html()
● pd.read_json()

In [12]:
# Loading separate files

import pandas as pd
df1 = pd.read_csv("https://raw.githubusercontent.com/johnashu/datacamp/master/Sales/sales-jan-2015.csv", index_col=0, parse_dates=True)
df2 = pd.read_csv("https://raw.githubusercontent.com/johnashu/datacamp/master/Sales/sales-feb-2015.csv", index_col=0, parse_dates=True)
print(df1.head())
print(df2.head())

                       Company   Product  Units
Date
2015-01-21 19:13:21  Streeplex  Hardware     11
2015-01-09 05:23:51  Streeplex   Service      8
2015-01-06 17:19:34    Initech  Hardware     17
2015-01-02 09:51:06      Hooli  Hardware     16
2015-01-11 14:51:02      Hooli  Hardware     11
                       Company   Product  Units
Date
2015-02-26 08:57:45  Streeplex   Service      4
2015-02-16 12:09:19      Hooli  Software     10
2015-02-03 14:14:18    Initech  Software     13
2015-02-02 08:33:01      Hooli  Software      3
2015-02-25 00:29:00    Initech   Service     10

In [22]:
# using loop
url1 = "https://raw.githubusercontent.com/johnashu/datacamp/master/Sales/sales-jan-2015.csv"
url2 = "https://raw.githubusercontent.com/johnashu/datacamp/master/Sales/sales-jan-2015.csv"
urls = [url1, url2]

dataframes = []
for url in urls:
    dataframes.append(pd.read_csv(url))

#dataframes.head()
print(dataframes[0].head())
print(dataframes[1].head())

                  Date    Company   Product  Units
0  2015-01-21 19:13:21  Streeplex  Hardware     11
1  2015-01-09 05:23:51  Streeplex   Service      8
2  2015-01-06 17:19:34    Initech  Hardware     17
3  2015-01-02 09:51:06      Hooli  Hardware     16
4  2015-01-11 14:51:02      Hooli  Hardware     11
                  Date    Company   Product  Units
0  2015-01-21 19:13:21  Streeplex  Hardware     11
1  2015-01-09 05:23:51  Streeplex   Service      8
2  2015-01-06 17:19:34    Initech  Hardware     17
3  2015-01-02 09:51:06      Hooli  Hardware     16
4  2015-01-11 14:51:02      Hooli  Hardware     11

In [26]:
# using list comprehension
dataframes = [pd.read_csv(url) for url in urls]
print(dataframes[0].head())
print(dataframes[1].head())

                  Date    Company   Product  Units
0  2015-01-21 19:13:21  Streeplex  Hardware     11
1  2015-01-09 05:23:51  Streeplex   Service      8
2  2015-01-06 17:19:34    Initech  Hardware     17
3  2015-01-02 09:51:06      Hooli  Hardware     16
4  2015-01-11 14:51:02      Hooli  Hardware     11
                  Date    Company   Product  Units
0  2015-01-21 19:13:21  Streeplex  Hardware     11
1  2015-01-09 05:23:51  Streeplex   Service      8
2  2015-01-06 17:19:34    Initech  Hardware     17
3  2015-01-02 09:51:06      Hooli  Hardware     16
4  2015-01-11 14:51:02      Hooli  Hardware     11

In [39]:
# using glob
from glob import glob
filenames = glob("sales*.csv")
dataframes = [pd.read_csv(file) for file in filenames]

In [40]:
# Reindexing Dataframes

In [60]:
# Importing weather Data
url = "https://raw.githubusercontent.com/johnashu/datacamp/master/pittsburgh2013.csv"
w_mean = pd.read_csv(url, index_col='Date', usecols=['Date', 'Mean TemperatureF'], parse_dates=True)
w_max = pd.read_csv(url, index_col='Date', usecols=['Date','Max TemperatureF'], parse_dates=True)

print(w_mean.head())
print(w_max.head())

            Mean TemperatureF
Date
2013-01-01                 28
2013-01-02                 21
2013-01-03                 24
2013-01-04                 28
2013-01-05                 30
            Max TemperatureF
Date
2013-01-01                32
2013-01-02                25
2013-01-03                32
2013-01-04                30
2013-01-05                34

In [62]:
print(w_mean.index)
print(type(w_mean.index))

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2013-12-22', '2013-12-23', '2013-12-24', '2013-12-25',
               '2013-12-26', '2013-12-27', '2013-12-28', '2013-12-29',
               '2013-12-30', '2013-12-31'],
              dtype='datetime64[ns]', name='Date', length=365, freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [66]:
# using reindex()
w_mean2 = w_mean.reindex()
w_mean2.head()

            Mean TemperatureF
Date
2013-01-01                 28
2013-01-02                 21
2013-01-03                 24
2013-01-04                 28
2013-01-05                 30

In [67]:
# reindexing from a DataFrame Index
w_mean.reindex(w_max.index)
w_mean.head()

            Mean TemperatureF
Date
2013-01-01                 28
2013-01-02                 21
2013-01-03                 24
2013-01-04                 28
2013-01-05                 30

In [68]:
# Airthmetic Operations with Series and DataFrames

In [82]:
# Loading weather data
weather = pd.read_csv("https://raw.githubusercontent.com/johnashu/datacamp/master/pittsburgh2013.csv",
                      index_col='Date', parse_dates=True)
weather.loc['2013-07 -1':'2013-07-7', 'PrecipitationIn']

Date
2013-07-01    0.18
2013-07-02    0.14
2013-07-03    0.00
2013-07-04    0.25
2013-07-05    0.02
2013-07-06    0.06
2013-07-07    0.10
Name: PrecipitationIn, dtype: float64

In [83]:
# Scalar multiplication
weather.loc['2013-07 -1':'2013-07-7', 'PrecipitationIn'] * 2.54

Date
2013-07-01    0.4572
2013-07-02    0.3556
2013-07-03    0.0000
2013-07-04    0.6350
2013-07-05    0.0508
2013-07-06    0.1524
2013-07-07    0.2540
Name: PrecipitationIn, dtype: float64

In [84]:
# Absolute temperature change
week1_range = weather.loc['2013-07 -1':'2013-07-7', ['Min TemperatureF', 'Max TemperatureF']]
print(week1_range)

            Min TemperatureF  Max TemperatureF
Date
2013-07-01                66                79
2013-07-02                66                84
2013-07-03                71                86
2013-07-04                70                86
2013-07-05                69                86
2013-07-06                70                89
2013-07-07                70                77

In [85]:
# Average Temperature
week1_mean = weather.loc['2013-07 -1':'2013-07-7', 'Mean TemperatureF']
print(week1_mean.head())

Date
2013-07-01    72
2013-07-02    74
2013-07-03    78
2013-07-04    77
2013-07-05    76
Name: Mean TemperatureF, dtype: int64

In [86]:
# Relative Temperature Range
week1_range / week1_mean

/Users/dilipthimiri/anaconda/lib/python3.6/site-packages/pandas/core/indexes/base.py:2984: RuntimeWarning: Cannot compare type 'Timestamp' with type 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

,2013-07-01 00:00:00,2013-07-02 00:00:00,2013-07-03 00:00:00,2013-07-04 00:00:00,2013-07-05 00:00:00,2013-07-06 00:00:00,2013-07-07 00:00:00,Min TemperatureF,Max TemperatureF
Date,,,,,,,,,
2013-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
week1_range.divide(week1_mean, axis='rows')

            Min TemperatureF  Max TemperatureF
Date
2013-07-01          0.916667          1.097222
2013-07-02          0.891892          1.135135
2013-07-03          0.910256          1.102564
2013-07-04          0.909091          1.116883
2013-07-05          0.907895          1.131579
2013-07-06          0.897436          1.141026
2013-07-07          0.972222          1.069444

In [88]:
# Percentage changes
week1_mean.pct_change() * 100

Date
2013-07-01         NaN
2013-07-02    2.777778
2013-07-03    5.405405
2013-07-04   -1.282051
2013-07-05   -1.298701
2013-07-06    2.631579
2013-07-07   -7.692308
Name: Mean TemperatureF, dtype: float64